#header {
  background-color: $header-bgc;
  padding: 20px 0;

  .header-top {
    @include flexBox();
    .header-left {
      @include flexBox();
      gap: 20px;
      p {
        color: $header-c;
      }
    }
    .header-rigth {
      ul {
        @include flexBox();
        gap: 20px;
        li {
          a {
            color: $header-c;
          }
        }
      }
    }
  }
}
header {
  .header {
    .top {
      .input {
        position: relative;
        width: 400px;

        input {
          width: 100%;
          border: none;
          padding: 10px;
          background-color: $imput-bgc;
        }
        img {
          position: absolute;
          z-index: 2;
          right: 0;
          top: 4px;
        }
      }
      padding: 30px 0;
      @include flexBox();
      h1 {
        @include h1();
      }
      nav {
        ul {
          @include flexBox();
          li {
            padding: 0 20px;
            a {
              color: #2e2e2e;
            }
          }
        }
      }
      @media screen and (max-width: 767px) {
        nav {
          display: none;
        }
      }
    }
    .bottom {
      nav {
        ul {
          @include flexBox();
          li {
            padding-bottom: 20px;
            a {
              color: #2e2e2e;
              &:hover {
                color: rgb(127, 221, 221);
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 768px) {
      nav {
        ul {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
